<div class="container-fluid vh-100">
  <div class="row h-100 p-3">
    <div class="col-12 col-md-6">
      <div class="row h-100 p-8 d-flex align-items-center justify-content-center">
        <div class="w-100">

          <app-auth-form
            [returnUrl]="_returnUrl"
            [extraErrorMessage]="_errorMessage"
          ></app-auth-form>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 p-2 position-relative">
      <div
        class="img-fluid background"
        style="object-fit: cover; border-radius: 30px;"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div
        class="overlay-container position-absolute top-50 start-50 translate-middle p-6"
        style="background-color: rgba(0, 0, 0, 0.4); border-radius: 15px; width: 95%; height: 95%;"
      >
        <img
          src="../../../../assets/img/logo/K8sManagerLogo.png"
          alt="Logo"
          class="position-absolute top-0 start-0 m-3"
          style="width: 100px; height: auto;"
        >
        <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
          <div class="p-5 w-100 text-left">
            <h1
              class="text-white"
              style="font-size: 3vw; font-weight: lighter; font-family: 'Arial', sans-serif; z-index: 1;"
            >
              {{'PAGES.AUTH.LOGIN.LABEL.LOGO.HEADER' | translate}}
            </h1>
            <h1
              class="text-white"
              style="font-size: 3vw; font-weight: lighter; font-family: 'Arial', sans-serif; z-index: 1;"
            >
              {{'PAGES.AUTH.LOGIN.LABEL.LOGO.SUBHEADER' | translate}}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>