<div class="container-fluid vh-100">
    <div class="row h-100 p-3">
        <div class="col-12 col-md-6">
            <div class="row h-100 p-8 d-flex align-items-center justify-content-center">
                <div class="w-100">

                    <h1>Bienvenido <span>👋</span></h1>
                    <p>Hoy es un nuevo día. Toma el control y orquesta. <br>Inicia sesión para gestionar tus clústeres
                        de Kubernetes.</p>

                    <form class="mt-4" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="username" placeholder="Usuario" name="username" [(ngModel)]="username">
                                <label for="username">Usuario</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" [(ngModel)]="password">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
                                <label class="form-check-label" for="rememberMe">Recordarme</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-lg w-100 btn-primary mb-3">
                            Iniciar sesión
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 p-2 position-relative">
            <div class="img-fluid background" style="object-fit: cover; border-radius: 30px;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="overlay-container position-absolute top-50 start-50 translate-middle p-6"
                style="background-color: rgba(0, 0, 0, 0.4); border-radius: 15px; width: 95%; height: 95%;">
                <img src="../../../../assets/img/logo/K8sManagerLogo.png" alt="Logo"
                    class="position-absolute top-0 start-0 m-3" style="width: 100px; height: auto;">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
                    <div class="p-5 w-100 text-left">
                        <h1 class="text-white"
                            style="font-size: 3vw; font-weight: lighter; font-family: 'Arial', sans-serif; z-index: 1;">
                            Iniciemos la
                        </h1>
                        <h1 class="text-white"
                            style="font-size: 3vw; font-weight: lighter; font-family: 'Arial', sans-serif; z-index: 1;">
                            Orquestación!
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>